<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 
</style>

<div>
  <div class="filterContainer">
  <input [(ngModel)]="filterField"/>
  <input [(ngModel)]="filterValue"/>
  <button (click)="doFilter()">Filter</button>
</div>
  <table class="blueTable">
    <thead>
      <tr>
        <th>Distance KM</th>
        <th>Min</th>
        <th>Sec</th>
        <th>Pace</th>
        </tr>
    </thead>
    <tr *ngFor="let activity of activitiesFiltered">
      <td>{{activity.distance / 1000}} km </td>
      <td>{{getMins(activity)}} min</td>
      <td>{{getSec(activity)}} min</td>
      <td>{{getPace(activity)}}</td>
    </tr>
  </table>
 
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>